.reply_to
  %p 返信先：#{@tweet.user.nickname}さん
= form_for [@tweet, @reply], url: tweet_replies_path, remote: true, method: :post do |f|
  .field
    = f.hidden_field :reply_nickname, value: @reply.reply_nickname
    = f.hidden_field :reply_tweet, value: @reply.reply_tweet
    = f.text_area :content,rows: "3", maxlength: "140",  placeholder: "Reply tweets", class: "form-control"
    = f.file_field :image, class: "image_file"
  = f.submit "Reply", class: "btn btn-primary", id: "tweet-button"
  %span.count 140
