.row
  %aside.col-md-3
    %section.user_info
      = render 'shared/user_info'
    %section.stats
      = render 'shared/stats'
  .col-md-6
    .reply_container
      %h3 Reply to #{@tweet.user.nickname}
      .before_reply
        - if @before_reply.present?
          = render 'reply', reply: @before_reply
      .tweet
        = render 'from_tweet', tweet: @from_tweet, likes: @likes
      .reply_form#reply_form
        = render 'reply_form'
      .after_replies
        #replies_feed
        - if @after_replies.any?
          = render 'replies_feed', replies: @after_replies
  .col-md-3
    %section.recommend_info
      = render 'shared/recommend_info', users: @recommend_users

