- provide(:title, "Edit")

.row
  .col-md-3
  .col-md-6.edit-profile__background
    %h2 Edit #{resource_name.to_s.humanize}
    .section.edit-profile__form
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!

        .field
          = f.label :nickname
          %br/
          = f.text_field :nickname, autofocus: true, class: 'form-control'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_nickname}

        .field
          = f.label :name
          %br/
          = f.text_field :name, autofocus: true, class: 'form-control'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_name}

        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, class: 'form-control'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}

        /
          .field
            = f.label :password
            %i (leave blank if you don't want to change it)
            %br/
            = f.password_field :password, autocomplete: "off", class: 'form-control'
            - if @minimum_password_length
              %br/
              %em
                = @minimum_password_length
                characters minimum

        /
          .field
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

        .field
          = f.label :avatar
          = f.file_field :avatar, class: 'form-control'

        .field
          = f.label :wallpaper
          = f.file_field :wallpaper, class: 'form-control'

        .field
          = f.label :introduction
          %em
            (140字以内)
          = f.text_area :introduction, class: 'form-control', rows: "4"

        .field.current_password
          = f.label :current_password
          %i (プロフィールを更新する場合は入力して下さい)
          %br/
          = f.password_field :current_password, autocomplete: "off", class: 'form-control'

        .actions
          = f.submit "Update", class: "btn btn-primary"

    .section.delete-profile__form
      %h3 Delete my account
      %p
        退会しますか? #{button_to "Delete my account", registration_path(resource_name), data: { confirm: "え…?  本当に退会するんですか？" }, method: :delete, class: "btn btn-primary"}
    = link_to "Back", :back
  .col-md-3
