.row
  %aside.col-md-3
    %section.user_info
      = render 'shared/user_info'
    %section.stats
      = render 'shared/stats'
    %section.talk_api
    = render 'shared/talk_api'
  .col-md-6
    %section.tweet_form
      = render 'shared/tweet_form'
    - if @feed_items.any?
      %h3 Tweet Feed
      #tweets-feed
        = render 'shared/tweet', tweets: @feed_items
  .col-md-3
    %section.recommend_info
      = render 'shared/recommend_info', users: @recommend_users
