- @user ||= current_user
.stats
  %a{href: "/users/#{@user.id}"}
    %strong#tweets.stat
      = @user.tweets.count
    ツイート
  %a{href: "#{following_user_path(@user.id)}"}
    %strong#following.stat
      = @user.following.count
    フォロー
  %a{href: "#{followers_user_path(@user.id)}"}
    %strong#followers.stat
      = @user.followers.count
    フォロワー
  %a{href: "#{likes_user_path(@user.id)}"}
    %strong#followers.stat
      = @user.like_tweets.count
    いいね
