.col-sm-4
  %section.user-card
    -if user.wallpaper?
      = image_tag user.wallpaper.url(:medium), size:"300x100", class: "user-card__wallpaper"
    -else
      = image_tag("wallpaper.png", size:"300x100",alt:"user-card-wallpaper", class: "user-card__wallpaper")
    -if user.avatar?
      = image_tag user.avatar.url(:thumb), class: "user-card__icon"
    -else
      = image_tag("icon.png", size:"100x100",alt:"user-card-avatar", class: "user-card__icon")
    .user-card__follow
    .user-card__content
      %h1.user-card__title= user.nickname
      %p.user-card__text= user.introduction
    .user-card__created-at
      2017/1/1
