- provide(:title, @user.name)

.row
  %aside.col-md-4
    %section.user_info
      = render 'shared/avatar_judge', user: @user
      %h1= @user.name
    %section.stats
      = render 'shared/stats'
  .col-md-8
    = render 'shared/follow_form' if user_signed_in?
    = render 'profile_header'
    %h3 Tweets
    -if @user.tweets.any?
      = @user.tweets.count
      %ol.tweets
        = render 'shared/tweet', tweets: @tweets
