- provide(:title, @title)

.row
  %aside.col-md-3
    %section.user_info
      = render 'shared/others_info', user: @user
    %section.stats
      = render 'shared/stats', user: @user
    %section.introduction
      = simple_format(@user.introduction)
  .col-md-6
    %section.detail-info
      = render 'profile_header', user: @user
      = render 'shared/follow_form', user: @user if user_signed_in?
      %h3= @title
      -if @likes.any?
        = render 'shared/tweet', tweets: @likes
  .col-md-3
    %section.recommend_info
      = render 'shared/recommend_info', users: @recommend_users
