- provide(:title, @title)

.row
  %aside.col-md-4
    %section.user_info
      = image_tag @user.avatar.url(:thumb), class: "user-profile"
      %h1= @user.name
    %section.stats
      = render 'shared/stats'
  .col-md-8
    = render 'shared/follow_form' if user_signed_in?
    = render 'profile_header'
    -if @likes.any?
      %h3= @title
      = @likes.count
      %ol.tweets
        = render 'shared/tweet', tweets: @likes
