- provide(:title, @title)

.row
  .col-md-4
    %section.user_info
      = image_tag current_user.avatar.url(:thumb), class: "user-profile__post"
      %h1= @user.name
      %span= link_to "view my profile", @user
    %section.stats
      = render 'shared/stats'
  .col-md-8
    %h3= @title
    - if @users.any?
      %ul.users.follow
        - @users.each do |user|
          %li
            = image_tag user.avatar.url(:thumb), class: "user-profile"
            = link_to user.name, user
