- @user ||= current_user
.stats
  %a{href: "/users/#{@user.id}"}
    ツイート
    %strong#tweets.stat
      = @user.tweets.count
  %a{href: "#{following_user_path(@user)}"}
    フォロー
    %strong#following.stat
      = @user.following.count
  %a{href: "#{followers_user_path(@user)}"}
    フォロワー
    %strong#followers.stat
      = @user.followers.count
