.tweet_form
  = form_for(@tweet) do |f|
    = f.text_area :content, class: "field form-control", rows: "5", maxlength: "140", placeholder: "What are you doing now?"
    = f.label :image, class: "image_file fa fa-picture-o fa-2x" do
      =  f.file_field :image, class: "image"
    = f.submit "Tweet", class: "btn btn-primary", id: "tweet-button"
