%ol.tweets
  - tweets.each do |tweet|
    %li{:id => "tweet-#{tweet.id}"}
      = render 'shared/avatar_judge', user: tweet.user
      %span.user= link_to tweet.user.name, tweet.user
      %span.content= tweet.content
      = image_tag tweet.image.url(:medium), class: "img" if tweet.image?
      %span.timestamp
        Posted #{time_ago_in_words(tweet.created_at)} ago.
        - if user_signed_in? && current_user.id == tweet.user_id
          = link_to "delete", tweet_path(tweet.id), method: :delete, data: { confirm: "You sure?" }, class: "span delete"
      = render 'likes/like', tweet: tweet, likes: @likes
= will_paginate tweets
