%ol.tweets
  - tweets.each do |tweet|
    %li{:id => "tweet-#{tweet.id}"}
      = render 'shared/avatar_judge', user: tweet.user
      %span.user= link_to tweet.user.nickname, tweet.user
      .content= simple_format(tweet.content)
      = image_tag tweet.image.url(:medium), class: "img" if tweet.image?
      %span.timestamp
        Posted #{time_ago_in_words(tweet.created_at)} ago.
        - if user_signed_in? && current_user.id == tweet.user_id
          = link_to "delete", tweet_path(tweet.id), method: :delete, data: { confirm: "You sure?" }, class: "span delete"
      .action_buttons
        = link_to image_tag("reply.jpg", size:"25x25", alt:"reply-button", class: "reply-button action_button"), new_tweet_reply_path(tweet)
        %i{id: "like-button_#{tweet.id}", class: "action_button"}
          = render 'likes/like', tweet: tweet, likes: @likes
#infinite-scrolling
  = will_paginate tweets
